@import "tailwindcss/preflight";
@tailwind utilities;
/* 
section {
  min-height: 100vh;
  border-bottom: 1px solid darkgray;
} */
body,
html {
  font-family: Arial, work serif, sans-serif;
  scroll-behavior: smooth;
}
